.main {
  flex-basis: 100%;
  display: flex;
  overflow: hidden;
}
.main__left-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 225px;
}
.main__left-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main__right-wrapper {
  padding-right: 7px;
  min-width: 115px;
}

.main__middle-section {
  position: relative;
  flex-basis: 1430px;
  max-width: 1430px;
  background-color: #999;
}
.main__right-section {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-basis: 265px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.main__right-section-left-wrapper {
  min-width: 200px;
}
.main__right-section-right-wrapper {
  min-width: 47px;
}
.main__drawing-canvas-info {
  position: absolute;
  bottom: 40px;
  color: gold;
  font-size: 12px;
  font-weight: bold;
  font-family: monospace;
}
.main__drawing-canvas {
  position: relative;
  z-index: 0;
  background: url(../../assets/canvas-background-img.png);
  background-position: center;
  background-attachment: fixed;
}
