.main__stroke-tool {
  background-position: -46px -136px;
}
.main__picker-tool {
  background-position: -274px 0px;
}
.main__eraser-tool {
  background-position: -46px -228px;
}
.main__dithering-tool {
  background-position: 0px -228px;
}
.main__paint-pixels-same-color-tool {
  background-position: -228px -138px;
}
.main__lighten-tool {
  background-position: -138px -228px;
}

.main__drawing-tools {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
}
.main__tool {
  width: 46px;
  height: 46px;
  background-color: #3a3a3a;
  margin: 1px;
  cursor: pointer;
  background-image: url(../../../assets/icons.png);
}
.main__tool_selected {
  position: relative;
  background-color: #444;
}
.main__tool_selected::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid gold;
  box-sizing: border-box;
}
.main__pen-tool {
  background-position: -182px -92px;
}
.main__pen-size-container {
  padding: 5px 5px;
  display: flex;
}
.main__pen-size {
  cursor: pointer;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid #444;
  margin-right: 2px;
}
.main__pen-size_selected {
  border-color: gold;
}
.main__pen-size:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  display: block;
  text-align: center;
  line-height: 12px;
  font-size: 90%;
}
.main__pen-size_selected::before {
  background-color: gold;
}
.main__pen-size[data-size="1"] {
  padding: 5px;
}
.main__pen-size[data-size="2"] {
  padding: 4px;
}
.main__pen-size[data-size="3"] {
  padding: 3px;
}
.main__pen-size[data-size="4"] {
  padding: 2px;
}
